<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ViewModels.Properties.Settings>
            <setting name="SyntaxTransformer" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value>http://ed/analog</value>
            </setting>
            <setting name="IsFiltersPinned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fold" serializeAs="String">
                <value>True</value>
            </setting>
        </ViewModels.Properties.Settings>
    </userSettings>
</configuration>